{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    {% if search_term %}
    <h1 class="text-center">Resultados de la búsqueda "{{ search_term }}" en la tabla: {{ table_name }}</h1>
    {% else %}
    <div class="row mb-4">
        <div class="col-md-6 offset-md-3 d-flex justify-content-between align-items-center">
            <h1 class="text-center">Tabla: {{ table_name }}</h1>
            <a href="{{ url_for(table_name + '_crud.aniadir', table_name=table_name) }}" class="btn btn-success">Añadir registro</a>
        </div>
    </div>
    {% endif %}
    <div class="row mb-4">
        <div class="col-md-12">
            <form action="{{ url_for('.buscar', table_name=table_name) }}" method="GET" class="form-inline justify-content-center mb-2 w-100">
                <input type="text" name="search_query" class="form-control form-control-sm mr-2 w-80" placeholder="Buscar en todas las columnas..." value="{{ search_term or '' }}">
                <button type="submit" class="btn btn-dark btn-sm">Buscar</button>
            </form>
            <form action="{{ url_for('.buscar', table_name=table_name) }}" method="GET" class="form-inline justify-content-center w-100">
                {% for column in columns %}
                <div class="form-group mr-2 flex-fill">
                    <input type="text" name="{{ column }}" class="form-control form-control-sm" placeholder="{{ column }}" value="{{ filters[column] if filters and filters[column] is not none else '' }}">
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-dark btn-sm">Filtrar</button>
            </form>
        </div>
    </div>
    {% if rows %}
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                {% for column in columns %}
                <th>{{ column }}</th>
                {% endfor %}
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                {% for column in columns %}
                <td>{{ row[column] }}</td>
                {% endfor %}
                <td class="text-center">
                    <a href="{{ url_for(table_name + '_crud.editar', id=row[primary_key_column], table_name=table_name) }}" class="btn btn-primary btn-sm d-inline-block"><i class="fas fa-pencil-alt"></i> Editar</a>
                    <form action="{{ url_for(table_name + '_crud.eliminar', id=row[primary_key_column], table_name=table_name) }}" method="post" class="d-inline-block">
                        <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-center">No se encontraron resultados.</p>
    {% endif %}
</div>
{% endblock %}
